<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <button mat-stroked-button (click)="browseInput.click()">Browse directory</button>
    <input style="display: none" #browseInput mat-button type="file" #file ngModel name="directory" (change)="onChange(file.files)"/>
    <!--<button mat-stroked-button type="submit" color="primary">Discover</button>-->
    <!--<input type="button" (click)="getPDF()" value="get pdf :)"/>-->
  </form>
  
  
  

<div class="container" id="images">

  <!--<mat-card>
      Hello world !
  </mat-card>-->

  <mat-nav-list>
      <mat-list-item *ngFor="let chapter of chapters | async">{{chapter | json }}</mat-list-item>
    </mat-nav-list>
  <!--<app-filediv *ngFor="let file of files | async" filename="{{file}}" class="file">
  
  </app-filediv>-->
</div>
